<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Calculadora 2050</title>

    <!-- Probably always a good idea to be utf-8 -->
    <meta charset="utf-8">
    <!-- So iPads can view the app in full screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- This prevents Internet Explorer from entering 'quirks' mode -->
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>

    <%= csrf_meta_tags %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload= 
                {'modules':[{'name':'visualization','version':'1.1','packages':
                ['corechart']}]}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
